body {
	text-align: center;
}

table tr td {
	vertical-align: top;
}

#todo-list {
	margin: auto;
}

#todo-list th {
	font-size: 1em;
	color: #ddd;
}

#todo-list tbody {
	text-align: left;
}

.task-column {
	padding: 0 8px;
}

#todo, 
#doing,
#done {
	width: 300px;
}

#todo .move-left,
#done .move-right {
	display: none;
}

#todo-list tbody td .task:first-child {
	padding-top: 8px;
	border-top: dotted 1px #aaa;
}

.task {
	height: 54px;
	margin-bottom: 8px;
	overflow: hidden;
	border-bottom: dotted 1px #ddd;
}

.task .wrapper {
	margin-bottom: 8px;
	clear: both;
}

#show-add-form,
.task .move {
	border: none;
	background: none;
	font-size: 1.1em;
	color: #bbb;
}

#show-add-form:hover,
.task .move:hover {
	color: #444;
}

button:hover,
.task .display:hover{
	cursor: pointer;
}

.task .form {
	display: none;
}

label,
textarea {
	display: block;
}

input,
textarea {
	width: 100%;
}

.task .move-left {
	float: left;
}

.task .move-right {
	float: right;
}

.task .display .name {
	margin: 0 0 4px 0;
	font-size: 1.17em;
	height: 1.17em;
}

.task .display .description {
	margin: 0;
	color: #aaa;	
	height: 1.1em;
}

.task.expanded {
	height: auto;
	min-height: 60px;
	overflow: inherit;	
}

.task .name,
.task .description {
	width: 220px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.task.expanded .name,
.task.expanded .description {
	height: auto;
	overflow: inherit;
	white-space: inherit;
	text-overflow: inherit;
}

.task .content,
.task .form,
#add-task .form {
	margin: 0 40px;
}


.task.edit .form {
	display: inherit;
}

.task.edit {
	height: auto;
	overflow: inherit;
}

.task.edit .display {
	display: none;
}

button.cancel {
	background: none;
	border: none;
	color: #bbb;
}

button.cancel:hover {
	color: #f66;
}

#show-add-form {
	float: left;
}

#add-task .form {
	display: none;
}

#add-task.show-form .form {
	display: inherit;
}

#add-task .name {	
	margin-top: 8px;
}
