body {
	text-align: center;
	font-family: Helvetica;
	font-size: 1.2em;
}

.view {
	display: none;
}

table tr td {
	vertical-align: top;
}

#add-task,
#edit-task {
	margin: auto;
	width: 600px;
	text-align: left;
}

#todo-list {
	margin: auto;
}

#todo-list th {
	font-size: 1em;
	color: #ddd;
}

#todo-list tbody {
	text-align: left;
}

.task-column {
	padding: 0 8px;
}

#todo, 
#doing,
#done {
	width: 260px;
}

#todo .move-left,
#done .move-right {
	display: none;
}

#todo-list tbody td .task:first-child {
	padding-top: 8px;
	border-top: dotted 1px #aaa;
}

.task {
	margin-bottom: 8px;
	border-bottom: dotted 1px #ddd;
}

.task .display,
.task .move,
.new-task {
	border: none;
	background: none;
	text-decoration: none;
}

.task .move,
.new-task {
	font-size: 1.1em;
	color: #bbb;
}

.task .move:hover,
.new-task:hover {
	color: #444;
}

button:hover {
	cursor: pointer;
}

.task .move-left {
	float: left;
}

.task .move-right {
	float: right;
}

.task .name {
	font-weight: normal;
	color: #444;
	margin: 0 0 4px 0;
	font-size: 1.1em;
}

.task .name:hover {
	color: #bbb;
}

.task .display {
	margin-bottom: 8px;
	clear: both;
}

.task .content {
	display: block;
	min-height: 44px;
	margin: 0 40px;
	text-decoration: none;
}

label,
textarea {
	display: block;
}

input,
textarea {
	width: 100%;
}

input.name {
	font-size: 2em;
	margin: 8px 0;
}

textarea.description {
	font-size: 1.2em;
	height: 160px;
	margin-bottom: 8px;
	color: #444;
}

a.delete {
	text-decoration: none;
	color: #bbb;
}

a.delete:hover {
	color: #f00;
}

#edit-task .actions {
	text-align: right;
}

.back {
	color: #444;
	text-decoration: none;
}

.back:hover {
	color: #bbb;
}